@model dynamic
@{
    ViewBag.Title = "Inventory";
}
<h2>Inventory</h2>
<table>
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Description 
            </th>
            <th>
                In Stock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>
                    @item.ItemId
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.InStock
                </td>
            </tr>
        }
    </tbody>
</table>
